.box model {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

.image-limit {
  max-width: 780px;
  max-height: 565px;
}

.column-f2 {
  float: left;
  width: 33.33%;
  padding: 15px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}
